{% extends "user_resume/user_resume_base.html" %}

{% comment %}
Template for editing a resume item.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    button.delete-button {
      float: right;
    }
  </style>
{% endblock %}

{% block user_resume_header_text %}Edit resume{% endblock %}

{% block user_resume_submit_button_text %}Update{% endblock %}

{% block user_resume_additional_buttons %}
    <button type="submit" name="delete" class="btn btn-danger delete-button">
      Delete
    </button>
{% endblock %}
