{% extends "base_logged_in.html" %}

{% comment %}
Page to view users resume and it's items.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume {
      margin-top: 36px;

      position: relative;
    }

    section.resume > a.btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>

    {% for item in resume_items %}
      <section class="resume">
        <h3><a href="./item/edit/{{ item.id }}/">
            {{ item.title }}</a><h5>{{ item.company }}</h5></h3>
        <h4>Start Date: {{ item.start_date }}</h4>
        <h4>End Date:
            {% if item.end_date %} {{ item.end_date }} {% else %} Present {% endif %}
        </h4>
        <h5>Description: {{ item.description }}</h5>
      </section>
    {% endfor %}
    
    <a class="btn btn-primary" href="./edit">Edit</a>
    <a class="btn btn-success" href="./item/create/">
        Add New Resume Item</a>
    <a class="btn btn-default" href="/resume/">Back</a>
  </div>
{% endblock %}
