{% extends "base_logged_in.html" %}

{% comment %}
Main page for viewing a users resumes.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume {
      margin-top: 36px;

      position: relative;
    }

    section.resume > a.btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">

    <h1>Resumes</h1>

    <table class="table table-striped table-hover">
      <thead></thead>
      <tbody>
        {% for resume in resumes %}
        <tr>
          <td><h2>{{ resume.name }}</h2></td>
          <td><h4>{{ resume.num_items }} items</h4></td>
          <td><a href="/resume/{{ resume.id }}/" class="btn btn-info">View</a></td>
          <td><a href="/resume/{{ resume.id }}/edit" class="btn btn-primary">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-success" href="/resume/create/">Add New Resume</a>
  </div>
{% endblock %}
